@model WebApp.Pages.Partials.CenteredImageWithCaptionCode

<figure>
    <div class="d-flex justify-content-center">
        <img style="max-width: 100%;"
             src="~/@Model.ImageSrc" alt="@Model.ImageCaption">
    </div>
    <figcaption class="figure-caption text-center">@Model.ImageCaption</figcaption>
</figure>