<div class="py-3 background-image-primary">
    <div class="headerContainer my-container">
        <h1 style="margin-bottom: 0; text-align: center; font-size: 1.5em;">
            <a style="text-decoration: none" href="/">Karl Oskar Anderson</a>
        </h1>
        <nav class="d-flex justify-content-center">
            <ul class="navbar-nav flex-row mr-auto">
                <li class="nav-item active mx-3 flex-row">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item mx-3 flex-row">
                    <a class="nav-link" href="/">Resume</a>
                </li>
                <li class="nav-item mx-3 flex-row">
                    <a class="nav-link" asp-page="Contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>