@page
@model WebApp.Pages.Posts.Charon
@{
    ViewData["Title"] = Model.PostPage.Metadata.Title;
}

<div class="content-container px-4">
    <div class="mt-5 mb-3">
        <h2>@Model.PostPage.Metadata.Title</h2>
    </div>
    <p>
        @Html.Raw(Model.PostPage.PageContent)
    </p>
</div>