@page
@using WebApp.Pages.Partials;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Markdig
@model WebApp.Pages.Posts.Sirowa
@{
    ViewData["Title"] = "Tempsens";
}

<div class="content-container px-4">
    <div class="mt-3 mb-3">
        <h4 class="fw-semibold">Tempsens - temperature monitoring application</h4>
    </div>
    <p>
        @{
            var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
        }
        @Html.Raw(Markdig.Markdown.ToHtml(Model.Content, pipeline))
    </p>
</div>