@page
@model WebApp.Pages.Posts.Tempsens
@{
    ViewData["Title"] = "Tempsens";
}

<div class="content-container px-4">
    <div class="mt-5 mb-3">
        <h3 class="fw-semibold">@Model.PostPage.Metadata.Title</h3>
    </div>
    <p>
        @Html.Raw(Model.PostPage.PageContent)
    </p>
</div>